/* Pragma.css */

body {
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* font-family: 'Roboto', sans-serif; */
}

article {
    font-size: 1.2rem;
}

p {
    padding-top: 1.5rem;
}


.read-more {
    color: black;
    background-color: white;
    border: 1px solid;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.read-more-div {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 1em;
    padding-top: 1em;
}

.category {
    text-decoration: none;
}

.post-header {
    text-align: center;
    line-height: 0em;
}

.post-title-date {
    line-height: 0em;
}


.cat-tag {
    text-align: right;
}

.post-categories {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
    align: right;
}

.categories-post-home {
    text-align: center;
}

div#site-title-subtitle {
    text-align:center;
    padding-top: 2em;
    padding-bottom: 1.5em;
    line-height: 2em;
}

#site-subtitle {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

#site-title {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Playfair Display", serif;
    font-size: 4em;
    letter-spacing: -0.01em;
    text-align: center;
}

time.published {
    font-size: 0.9rem;
    font-style: italic;
    color: #666666;
}

.post-author {
    font-size: 0.8em;
    padding-left: 3ex;
    color: #666666;
}

p:first-of-type:first-letter {
    display: block;
    margin: 5px 0px 0px 5px;
    float: left;
    font-family: "Georgia";
    font-size: 8rem;
}

/* Code */
.highlight {

}
