/* Pragma.css */

html {
}

body {
    font-size: 16px;
    color: #111111;
    /* padding-left: 0.5em; */
    /* padding-right: 0.5em; */
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: #111111;
    text-decoration: none;
}

a:hover {
    color: #555;
}

/* a:hover { */
/*     font-weight: bold; */
/* } */

h1 {
    font-size: 42px;
    margin-bottom: 1px;
    color: #111111;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}


p {

}

.row {

}


/* Code */
pre {
    border-left: 0.2rem solid #8a8a96;
}


pre > code {
    padding-left: 10px;
}

/* Categories */
.cat-button {
    background-color: #24435c;
    border: none;
    color: #eeeeee;
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    /* border-radius: 1px; */
}




img {
    width: 100%;
}

.read-more {
    color: black;
    background-color: white;
    border: 1px solid;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.read-more-button {
    background-color: #e6e6fa;
    border: none;
    color: #555;
    padding: 8px 8px 8px 8px;
    margin: 0px 2px 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 12px;

}

.read-more-div {
    /* margin-left: 20rem; */
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 0.5rem;
}

.cat-tag {
    text-align: right;
}

.categories-post-home {
    text-align: center;
}

div#site-title-subtitle {
    text-align:center;
    padding-top: 5rem;
    /* padding-bottom: 8rem; */
    margin-bottom: 5em;
    line-height: 3rem;
    /* background-color: #333; */
    /* background-color: #a0522d; */
    background-color: #09092a;
    color: white;
}

#site-subtitle {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

#site-title a {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Playfair Display", serif;
    font-size: 4em;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

time.published {
    font-style: italic;
    color: #666666;
    padding-bottom: 2px;
}

time.mini-published {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: #666666;
    padding: 3px 0px 5px 0px;
}


.post-author {
    font-size: 0.8em;
    padding-left: 3ex;
    color: #666666;
}

.center {
    text-align: center;
}

ul.post-categories li, ul.mini-post-categories li {
    display: inline;
}

ul.post-categories, ul.mini-post-categories {
    list-style-type: none;
    margin-bottom: 0px;
}

ul.mini-post-categories {
    margin-top: 0px;
    padding-bottom: 5px;
}



h1.mini-post-title {
    padding: 0px;
    margin-bottom: 5px;
}

h1.post-title {
    padding-top: 0px;
}

.post-title-header {
    margin-bottom: 5rem;
}

/* p:first-of-type:first-letter { */
/*     display: block; */
/*     margin: 5px 0px 0px 5px; */
/*     float: left; */
/*     font-family: "Georgia"; */
/*     font-size: 8rem; */
/* } */



/* Larger than mobile screen */
/* @media (min-width: 40.0rem) { */
/*     .wrapper { */
/*         flex-direction: column; */
/*     } */
/* } */


/* } */

/* Larger than tablet screen */
/* @media (min-width: 80.0rem) { */
/* } */

/* Larger than desktop screen */
/* @media (min-width: 120.0rem) { */
/* } */

.page-copyright {
    text-align: center;
}


/* Social sharing */
ul.social-sharing {
    list-style-type: none;
}

ul.social-sharing li {
    display: inline;
    font-size: 3rem;
}

.toc-side {
    display: none;
    position: sticky;
    max-width: 300px;
    top: 2em;
    /* border: 1px solid black; */
    over-flow-y: auto;
    max-height: 85%;
    /* right: 20%; */
    /* border-left: 3px solid #8b2200; */
}

.toc-side a {
        color: #777;
}

.toc-side li {
    list-style-type: none;
}

.toc-side ul > li {
    margin-bottom: 0.4em;
}

.toc-side ul {
    padding-left: 0em;
}

.toc-side .back-to-top {
    font-size: 0.7em;
    padding-left: 2.7em;
}

.toc-side a.current {
    /* color: #09095a; */
    color: #1e85ae;
    font-weight: bold;
}

.toc-side a:hover {
    color: #1e85ae;
    font-weight: bold;
}

.toc-inline {
    max-width: 70%;
    margin: 3px auto 50px auto;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px dashed brown;
}

.toc-inline li {
    list-style-type: none;
}

.toc-inline li > ul li {
    list-style-type: circle;
}

.toc-inline .toc-title {
    padding-left: 0.7em;
    font-weight: bold;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    font-weight: bold;
}

.botnav {
    /* background-color: #800000; */
    /* color: #300000; */
    color: #73737d;
    text-align: center;
    padding: 3px 3px 3px 3px;
}

.botnav a {
    float: center;
    color: #73737d;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.botnav a:hover {
    font-weight: bold;
}

.social {
    margin-bottom: 1em;
}

/* Add a color to the active/current link */
/* .topnav a.active { */
/*     background-color: #4CAF50; */
/*     color: white; */
/* } */

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
}

/* Larger than tablet screen */
@media (min-width: 1025px) {
    .main-column {
        width: 760px;
        position: relative;
        margin: 0 auto 0 auto;
        padding: 1em;
        /* padding-right: 1.5rem; */
    }

    .side-column {
        width: 380px;
        padding-left: 0em;
        margin: 0 auto 0 0;
        /* position: sticky; */
        /* top: 0; */
        /* border-left: 1px solid #bbbbbb; */
    }

    /* Code */
    pre {
        border-left-width: 3px;
    }

    pre > code {
        padding-left: 15px;
    }

    .toc-side {
        display: block;
    }

    .toc-inline {
        display: none;
    }

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
}
