/* Pragma.css */

html {
}

body {
    font-size: 16px;
    color: #111111;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0.7rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}


.container {
    padding: 0rem;
}

p {

}


/* Code */
pre {
    border-left: 0.2rem solid #9b4dca;
}


pre > code {
    padding-left: 0.7rem;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) {
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    .main-column {
        width: 65rem;
        padding-right: 1.5rem;
    }

    .side-column {
        width: 40rem;
        padding-left: 1.5rem;
    }

    /* Code */
    pre {
        border-left-width: 0.3rem;
    }

    pre > code {
        padding-left: 1rem;
    }

}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
}





.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 40%;
    padding: 20px;
}

.sidebar {
    flex: 30%;
    padding: 20px;
}


img {
    width: 100%;
}

.read-more {
    color: black;
    background-color: white;
    border: 1px solid;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.read-more-div {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.category {
    text-decoration: none;
}

.post-header {
    text-align: center;
    line-height: 0em;
}

.post-title-date {
    line-height: 0em;
}


.cat-tag {
    text-align: right;
}

.post-categories {
    display: inline-flex;
    flex-direction: column;
    text-align: right;
    align: right;
}

.categories-post-home {
    text-align: center;
}

div#site-title-subtitle {
    text-align:center;
    padding-top: 2em;
    padding-bottom: 1.5em;
    line-height: 2em;
}

#site-subtitle {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
}

#site-title {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Playfair Display", serif;
    font-size: 4em;
    letter-spacing: -0.01em;
    text-align: center;
}

time.published {
    font-style: italic;
    color: #666666;
}

.post-author {
    font-size: 0.8em;
    padding-left: 3ex;
    color: #666666;
}

/* p:first-of-type:first-letter { */
/*     display: block; */
/*     margin: 5px 0px 0px 5px; */
/*     float: left; */
/*     font-family: "Georgia"; */
/*     font-size: 8rem; */
/* } */



/* Larger than mobile screen */
/* @media (min-width: 40.0rem) { */
/*     .wrapper { */
/*         flex-direction: column; */
/*     } */
/* } */


/* } */

/* Larger than tablet screen */
/* @media (min-width: 80.0rem) { */
/* } */

/* Larger than desktop screen */
/* @media (min-width: 120.0rem) { */
/* } */
