<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
          <div class="row">
            <!-- <div class="column is-one-fifth"></div> -->
            <div class="side-column">
            </div>

            <div class="main-column">
            {{- block "main" . }}{{- end }}
            </div>

            <div class="side-column">
              {{- block "sidebar" . }}{{- end }}
            </div>

          </div>

        <footer>
        {{- partial "page-footer.html" . -}}
        </footer>
        {{- partial "footer.html" . -}}
    </body>
</html>
