{{ define "main" }}

<article class="post">


    {{partial "post-title.html" . }}

    <div class="toc-inline">
    {{ with .TableOfContents }}
    <div class="toc-title">
      Table of Contents
    </div>
    {{ . }}
    {{ end }}
  </div>


    {{ .Content }}

{{ partial "post-footer.html" . }}

</article>

  {{ end }}


{{ define "sidebar" }}
{{ with .TableOfContents }}
<div class="toc-side no-text-decoration">
  <!-- <nav id="TableOfContents"> -->
  {{ . }}
  <a href="#" class="back-to-top">Back to top</a>
  <!-- </nav> -->
</div>
{{ end }}


{{ end }}
