<article class="post">
  <header>
    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>

    Categories: <span>
      {{ range .Params.categories }}
      <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{- . -}} </a>
      {{ end }}
      </span>

    <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words </div>
  </header>
  {{ .Summary }}
  <footer>
    {{ if .Truncated }}
    <div>
    <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
    </div>
    {{ end }}
  </footer>
</article>
