<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" >

{{ $fontsCSS := resources.Get "css/fonts.css" }}
{{ $normalizeCSS := resources.Get "css/normalize.css" }}
{{ $pragmaCSS := resources.Get "css/pragma.css"  }}
{{ $fontawesomeCSS := resources.Get "css/fontawesome.css" }}
{{ $mainCSS := slice $fontsCSS $normalizeCSS $pragmaCSS $fontawesomeCSS | resources.Concat "css/main.css" | resources.Minify | resources.Fingerprint "sha256" }}

<link rel="stylesheet" href="{{ $mainCSS.Permalink }}" integrity="{{ $mainCSS.Data.Integrity }}"/>

<title>
  {{ if .IsPage }}
  {{- .Title }} -
  {{ end }}
  {{- .Site.Title -}}
</title>
