<header>
  <div class="title">
    <h1><a href='{{ .Permalink }}'> {{ .Title }}</a> </h1>
    <time class="published">
      <i class="far fa-calendar-alt"></i>
      {{ with .Site.Params.dateFormat }}
      {{ $.Date.Format . }}
      {{ else }}
      {{ .Date.Format "Mon, Jan 2, 2006" }}
      {{ end }}
    </time>
    <!-- <span class="post-author">{{ .Params.author }}</span> -->
  </div>
  <div class="meta">
    <i class="fas fa-folder"></i>
    {{ range .Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{- . -}} </a>
    {{ end }}
    <br/>
    <i class="fas fa-tags"></i>
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{- . -}} </a>
    {{ end }}

  </div>

</header>
