<div class="center">
  <ul class="post-categories">
    {{ range .Params.categories }}
    <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="cat-button">{{- . -}} </a></li>
    {{ end }}
  </ul>

<h1 class="post-title"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h1>


<time class="published">
  <!-- <i class="far fa-calendar-alt"></i> -->
  {{ with .Site.Params.dateFormat }}
  {{ $.Date.Format . }}
  {{ else }}
  {{ .Date.Format "Mon, Jan 2, 2006" }}
  {{ end }}
</time>

  <!-- <span class="post-author">{{ .Params.author }}</span> -->
</div>
