<!-- <h2>Recent Posts</h2> -->
<!-- {{ $pages := (where .Pages "Section" "post") }} -->
<!-- {{ range first 3 $pages }} -->
<!-- <h3><a href="{{ .Permalink }}">{{ .Title }}</a><span class="recent-date">{{ with .Site.Params.dateFormat }} -->
<!--       {{ $.Date.Format . }} -->
<!--       {{ else }} -->
<!--       {{ .Date.Format "Mon, Jan 2, 2006" }} -->
<!--       {{ end }} -->
<!--     </span> -->
<!-- </h3> -->
<!-- {{ end }} -->



<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec
dui nunc mattis. Ante metus dictum at tempor commodo ullamcorper a lacus.
Consequat id porta nibh venenatis cras sed. Id aliquet lectus proin nibh. At
ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Ultricies
tristique nulla aliquet enim tortor. Ultricies lacus sed turpis tincidunt id
aliquet risus feugiat in. Sit amet massa vitae tortor. Condimentum mattis
pellentesque id nibh tortor id aliquet lectus proin.</p>
