{{ define "main" }}
<article class="signup">

  <h1 class="signup-title"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h1>

  {{ .Content }}


  <div class="signup-form">
    {{ with .Site.Params.mailChimpURL }}
    <form action="{{ . }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      {{ end }}

            <!-- <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span> -->
            <!-- </label> -->
            <input type="email" value="" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">

              <!-- <label for="mce-FNAME">First Name </label> -->
              <input type="text" value="" placeholder="First Name" name="FNAME" class="" id="mce-FNAME">

                <!-- <label for="mce-LNAME">Last Name </label> -->
                <input type="text" value="" placeholder="Last Name" name="LNAME" class="" id="mce-LNAME">

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                {{ with .Site.Params.mailChimpBotName }}
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ . }}" tabindex="-1" value=""></div>
                {{ end }}
                <!-- <div class="clear"> -->
                <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
                  <!-- </div> -->
            </form>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

        </article>
        {{ end }}
