{{ define "main" }}

<div class="homepage-content">
  {{ .Content }}
</div>


<div>
{{ $pages := (where site.RegularPages "Type" "eq" "post") }}
{{ range (.Paginate $pages).Pages }}
    {{ .Render "summary" }}
{{ end }}
</div>

<div class="pagination normal-text">
{{ if .Paginator.HasPrev }}
<a class="pagination-newer" href="{{.Paginator.Prev.URL }}">&laquo; Previous</a>
{{ end }}
{{ if .Paginator.HasNext }}
<a class="pagination-older" href="{{.Paginator.Next.URL }}">Next &raquo;</a>
{{ end }}
</div>

{{ end }}
